{% extends 'base.html' %}

{% block title %} Sign up {% endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">Sign Up</h1>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {% for item in form %}
                    {{item.label_tag}} <br> {{item}} <br>
                    {% if item.errors|striptags %}
                        <div class="mb-3 p-6 bg-red-100 rounded-xl">
                            {{item.errors|striptags}}
                        </div>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>

            <button class="py-4 px-8 text-lg bg-teal-500 rounded-xl hover:bg-teal-700 text-white">Submit</button>
            <a href="{% url 'signin' %}" class="px-6 text-blue-500 hover:bg-gray-700 "> <u>already have an account?</u>  </a>

        </form>

    </div>
{% endblock %}