<div class="container mx-auto mt-8">
    <ul>
        <!-- First Warning -->

        {% for message in messages %}
            <li class="relative bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-4">
                <button class="absolute top-0 right-0 -mr-4 -mt-4 p-2 text-yellow-700 hover:text-yellow-900 close-alert">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
                <p class="font-bold">{{message.tags.capitalize}} !</p>
                <p>{{message}}</p>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    const closeButtons = document.querySelectorAll('.close-alert');

    closeButtons.forEach(button => {
        button.addEventListener('click', function() {
            this.parentNode.style.display = 'none';
        });
    });
</script>
